{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Ylang-Ylang<small> Symfony 2.7 test job</small></h1>
    </div>

    <p>Go to <a href="{{ path('admin') }}">{{ path('admin') }}</a> for see logs</p>
    <p>The code is here - <a href="https://github.com/spolischook/ylang-ylang">https://github.com/spolischook/ylang-ylang</a> </p>
</div>
{% endblock %}
