{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Ylang-Ylang<small> Symfony 2.7 test job</small></h1>
    </div>
</div>
{% endblock %}
